In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import sys
! {sys.executable} -m pip install openpyxl
import warnings
warnings.filterwarnings('ignore')

Requirement already satisfied: openpyxl in c:\users\lucy\anaconda3\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\lucy\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

## Reading in the School Data (tvaas_df, lettergrade_df, act_df, gradrate_df, wida_df)

## 2023-2024 TVAAS Report

In [12]:
tvaas_df = pd.read_excel('../data/2024_tvaas_school_composite.xlsx')

In [14]:
tvaas_df

,District Number,School Number,District Name,School Name,Overall Composite,Literacy Composite,Numeracy Composite,Literacy and Numeracy Composite,Science Composite,Social Studies Composite
0,10,10,Anderson County,Briceville Elementary,2,3.0,1.0,1.0,3.0,NaN
1,10,15,Anderson County,Claxton Elementary,3,3.0,2.0,3.0,5.0,NaN
2,10,2,Anderson County,Anderson County High School,1,1.0,3.0,1.0,3.0,NaN
3,10,20,Anderson County,Clinton Middle School,1,1.0,1.0,1.0,1.0,2.0
4,10,25,Anderson County,Clinton High School,5,5.0,5.0,5.0,4.0,NaN
...,...,...,...,...,...,...,...,...,...,...
1723,987,8070,Tennessee Public Charter School Commission,Lester Prep,5,5.0,5.0,5.0,5.0,5.0
1724,987,8090,Tennessee Public Charter School Commission,LEAD Neely's Bend,5,5.0,5.0,5.0,5.0,5.0
1725,987,8095,Tennessee Public Charter School Commission,Libertas,5,5.0,5.0,5.0,4.0,NaN
1726,987,8115,Tennessee Public Charter School Commission,Cornerstone Prep Denver Campus,5,5.0,5.0,5.0,4.0,NaN
1727,987,8147,Tennessee Public Charter School Commission,Tennessee Nature Academy,1,2.0,1.0,1.0,3.0,2.0

In [16]:
tvaas_df['District Name'].unique()

array(['Anderson County', 'Carter County', 'Elizabethton', 'Clinton',
       'Cheatham County', 'Oak Ridge', 'Chester County',
       'Claiborne County', 'Clay County', 'Cocke County', 'Newport',
       'Coffee County', 'Manchester', 'Tullahoma', 'Crockett County',
       'Alamo', 'Bells', 'Cumberland County', 'Davidson County',
       'Bedford County', 'Decatur County', 'DeKalb County',
       'Dickson County', 'Dyer County', 'Dyersburg',
       'Fayette County Public Schools', 'Fentress County',
       'Franklin County', 'Humboldt City Schools', 'Milan', 'Trenton',
       'Bradford', 'Gibson Co Sp Dist', 'Giles County', 'Grainger County',
       'Benton County', 'Greene County', 'Greeneville', 'Grundy County',
       'Hamblen County', 'Hamilton County', 'Hancock County',
       'Hardeman County Schools', 'Hardin County', 'Hawkins County',
       'Rogersville', 'Haywood County', 'Henderson County', 'Lexington',
       'Bledsoe County', 'Henry County', 'Paris', 'Hickman County',
       'Houston County', 'Humphreys County', 'Jackson County',
       'Jefferson County', 'Johnson County', 'Knox County', 'Lake County',
       'Lauderdale County', 'Blount County', 'Lawrence County', 'Alcoa',
       'Lewis County', 'Maryville', 'Lincoln County', 'Fayetteville',
       'Loudon County', 'Lenoir City', 'McMinn County', 'Athens',
       'Etowah', 'McNairy County', 'Macon County', 'Madison County',
       'Marion County', 'Richard City', 'Marshall County',
       'Bradley County', 'Maury County', 'Cleveland', 'Meigs County',
       'Monroe County', 'Sweetwater', 'Montgomery County', 'Moore County',
       'Morgan County', 'Obion County', 'Union City', 'Overton County',
       'Perry County', 'Pickett County', 'Campbell County', 'Polk County',
       'Putnam County', 'Rhea County', 'Dayton', 'Roane County',
       'Robertson County', 'Rutherford County', 'Murfreesboro',
       'Scott County', 'Oneida', 'Sequatchie County', 'Sevier County',
       'Memphis-Shelby County Schools', 'Arlington', 'Bartlett',
       'Collierville', 'Germantown', 'Lakeland',
       'Millington Municipal Schools', 'Cannon County', 'Smith County',
       'Stewart County', 'Sullivan County', 'Bristol', 'Kingsport',
       'Sumner County', 'Tipton County', 'Trousdale County',
       'Unicoi County', 'Union County', 'Van Buren County',
       'Warren County', 'Washington County', 'Johnson City',
       'Wayne County', 'Hollow Rock - Bruceton', 'Weakley County',
       'Huntingdon Special School District', 'White County', 'McKenzie',
       'Williamson County', 'Franklin SSD', 'South Carroll',
       'Wilson County', 'Lebanon', 'Alvin C York Institute',
       'Tennessee School for Blind', 'Tennessee Schools for the Deaf',
       'West Carroll Sp Dist', 'Achievement School District',
       'Tennessee Public Charter School Commission'], dtype=object)

## Filtering to only include Davidson County, then dropping district number/district name columns

In [42]:
tvaas_mnps_df = tvaas_df[tvaas_df['District Name'].str.lower() == 'davidson county']

In [46]:
tvaas_mnps_df.reset_index(drop=True, inplace=True)

In [58]:
tvaas_mnps_df

,School Number,School Name,Overall Composite,Literacy Composite,Numeracy Composite,Literacy and Numeracy Composite,Science Composite,Social Studies Composite
0,1,A. Z. Kelley Elementary,5,5.0,5.0,5.0,NaN,NaN
1,10,Amqui Elementary,4,5.0,3.0,5.0,3.0,3.0
2,105,Chadwell Elementary,3,3.0,3.0,3.0,3.0,NaN
3,110,Charlotte Park Elementary,3,3.0,3.0,3.0,2.0,NaN
4,115,Eagle View Elementary School,5,5.0,5.0,5.0,3.0,NaN
...,...,...,...,...,...,...,...,...
141,8090,Strive Collegiate Academy,4,3.0,5.0,5.0,3.0,3.0
142,8095,KIPP Academy Nashville Elementary School,3,3.0,3.0,3.0,NaN,NaN
143,8100,RePublic High School,5,5.0,5.0,5.0,4.0,4.0
144,8110,KA @ The Crossings (8110),3,5.0,3.0,5.0,3.0,3.0
145,82,Cane Ridge Elementary,5,5.0,5.0,5.0,4.0,NaN

In [52]:
tvaas_mnps_df.drop('District Number', axis=1, inplace=True)

In [54]:
tvaas_mnps_df.drop('District Name', axis=1, inplace=True)

In [97]:
tvaas_mnps_df.head()

,School Number,School Name,Overall Composite,Literacy Composite,Numeracy Composite,Literacy and Numeracy Composite,Science Composite,Social Studies Composite
0,1,A. Z. Kelley Elementary,5,5.0,5.0,5.0,NaN,NaN
1,10,Amqui Elementary,4,5.0,3.0,5.0,3.0,3.0
2,105,Chadwell Elementary,3,3.0,3.0,3.0,3.0,NaN
3,110,Charlotte Park Elementary,3,3.0,3.0,3.0,2.0,NaN
4,115,Eagle View Elementary School,5,5.0,5.0,5.0,3.0,NaN

In [99]:
tvaas_mnps_df.columns = ['school_number', 'school_name', 'tvaas_overall_comp', 'tvaas_lit_comp', 'tvaas_num_comp', 'tvaas_litandnum_comp', 'tvaas_sci_comp', 'tvaas_ss_comp']

In [201]:
tvaas_mnps_df.shape

(146, 8)

In [197]:
tvaas_mnps_df['school_name'].unique()

array(['A. Z. Kelley Elementary', 'Amqui Elementary',
       'Chadwell Elementary', 'Charlotte Park Elementary',
       'Eagle View Elementary School', 'Cockrill Elementary',
       'W.A. Bass Alternative Learning Center', 'Cole Elementary',
       'Hattie Cotton Elementary', 'Crieve Hall Elementary',
       'Croft Middle', 'Andrew Jackson Elementary',
       'Cumberland Elementary', 'Dan Mills Elementary',
       'Dodson Elementary', 'Donelson Middle', 'DuPont Elementary',
       'DuPont Tyler Middle', 'DuPont Hadley Middle', 'Eakin Elementary',
       'Antioch High School', 'East Nashville Magnet High School',
       'Thomas A. Edison Elementary', 'Fall-Hamilton Elementary',
       'Antioch Middle', 'Gateway Elementary', 'Glencliff Elementary',
       'Glencliff High School', 'Apollo Middle', 'Glendale Elementary',
       'Glengarry Elementary', 'Glenview Elementary',
       'Goodlettsville Elementary', 'Goodlettsville Middle',
       'Gower Elementary', 'Granbery Elementary', 'H. G. Hill Middle',
       'East Nashville Middle', 'MNPS Virtual School',
       'Harpeth Valley Elementary', 'Haynes Middle', 'Haywood Elementary',
       'Head Middle', 'Henry C. Maxwell Elementary',
       'Hermitage Elementary', 'Hickman Elementary', 'Meigs Middle',
       'Hillsboro High', 'Moses McKissack Middle',
       'Hull-Jackson Elementary', 'Hume - Fogg High', 'Hunters Lane High',
       'Inglewood Elementary', 'Isaac Litton Middle',
       'J. E. Moss Elementary', 'James Lawson High School',
       'Jere Baxter Middle', 'Joelton Elementary', 'John Early Middle',
       'Jones Elementary', 'John B. Whitsitt Elementary',
       'John F. Kennedy Middle', 'John Overton High', 'Bellevue Middle',
       'Julia Green Elementary', 'Lakeview Elementary',
       'Lockeland Elementary', 'Early College High School',
       'Maplewood High', 'Bellshire Elementary', 'Margaret Allen Middle',
       'Martin Luther King Jr School', 'McGavock Elementary',
       'McGavock High', 'McMurray Middle', 'John Trotwood Moore Middle',
       'Mt. View Elementary', 'Alex Green Elementary',
       'Murrell at Glenn School', 'Napier Elementary',
       'Nashville School of the Arts', "Neely's Bend Elementary",
       'Norman Binkley Elementary', 'Nashville Big Picture High School',
       'Old Center Elementary', 'William Henry Oliver Middle',
       'Paragon Mills Elementary', 'Park Avenue Elementary',
       'Pearl-Cohn High', 'Pennington Elementary',
       'Percy Priest Elementary', 'Rose Park Middle',
       'Rosebank Elementary', 'Ruby Major Elementary',
       'May Werthan Shayne Elementary School', 'Shwab Elementary',
       'Stanford Elementary', 'Robert Churchwell Elementary',
       'Stratford STEM Magnet School', 'Madison Middle',
       'Stratton Elementary', 'Sylvan Park Elementary',
       'Thurgood Marshall Middle', 'Tom Joy Elementary',
       'Tulip Grove Elementary', 'Tusculum Elementary',
       'Two Rivers Middle', 'Una Elementary',
       'Carter-Lawrence Elementary', 'Warner Elementary',
       'West End Middle', 'Westmeade Elementary',
       'Isaiah T. Creswell Middle School of the Arts',
       'Whites Creek High', 'Wright Middle',
       'Johnson Alternative Learning Center',
       'Smith Springs Elementary School',
       'Waverly-Belmont Elementary School', 'Cane Ridge High School',
       'Ida B. Wells Elementary', 'Smithson Craighead Academy',
       'KIPP Academy Nashville', 'LEAD Academy',
       'Liberty Collegiate Academy', 'STEM Prep Academy',
       'Nashville Prep', 'East End Preparatory School', 'LEAD Cameron',
       'KIPP Nashville Collegiate High School', 'LEAD Southeast',
       'KIPP Nashville College Prep', 'Nashville Classical East',
       'Valor Flagship Academy', 'Purpose Prep',
       'Intrepid College Preparatory Charter School',
       'Rocketship Nashville Northeast Elementary',
       'Explore Community School', 'Rocketship United',
       'STEM Prep High School', 'Valor Voyager Academy',
       'KIPP Nashville College Prep Elementary',
       'Strive Collegiate Academy',
       'KIPP Academy Nashville Elementary School', 'RePublic High School',
       'KA @ The Crossings (8110)', 'Cane Ridge Elementary'], dtype=object)

## dropping charter schools

In [212]:
charter_schools = [
    'Cameron College Prep'
    'Smithson Craighead Academy',
    'KIPP Academy Nashville', 
    'LEAD Academy',
    'Liberty Collegiate Academy', 
    'STEM Prep Academy',
    'Nashville Prep', 
    'East End Preparatory School', 'LEAD Cameron',
    'KIPP Nashville Collegiate High School', 
    'LEAD Southeast',
    'KIPP Nashville College Prep', 
    'Nashville Classical East',
    'Nashville Classical West', 
    'Aventura Community School'
    'Valor Flagship Academy', 
    'Purpose Prep',
    'Intrepid College Preparatory Charter School',
    'Rocketship Nashville Northeast Elementary',
    'Explore Community School', 
    'Rocketship United',
    'STEM Prep High School', 
    'Valor Voyager Academy',
    'KIPP Nashville College Prep Elementary',
    'Strive Collegiate Academy',
    'KIPP Academy Nashville Elementary School', 
    'Knowledge Academies HS',
    'RePublic High School',
    'KA @ The Crossings (8110)'
    'KIPP Academy Nashville Elementary School' 
    'Purpose Prep', 
    'Smithson Craighead Academy',
    'Valor Flagship Academy',
    'KA @ The Crossings (8110)'
]

In [214]:
tvaas_nocharters = tvaas_mnps_df[~tvaas_mnps_df['school_name'].isin(charter_schools)]

In [218]:
tvaas_nocharters['school_name'].unique()

array(['A. Z. Kelley Elementary', 'Amqui Elementary',
       'Chadwell Elementary', 'Charlotte Park Elementary',
       'Eagle View Elementary School', 'Cockrill Elementary',
       'W.A. Bass Alternative Learning Center', 'Cole Elementary',
       'Hattie Cotton Elementary', 'Crieve Hall Elementary',
       'Croft Middle', 'Andrew Jackson Elementary',
       'Cumberland Elementary', 'Dan Mills Elementary',
       'Dodson Elementary', 'Donelson Middle', 'DuPont Elementary',
       'DuPont Tyler Middle', 'DuPont Hadley Middle', 'Eakin Elementary',
       'Antioch High School', 'East Nashville Magnet High School',
       'Thomas A. Edison Elementary', 'Fall-Hamilton Elementary',
       'Antioch Middle', 'Gateway Elementary', 'Glencliff Elementary',
       'Glencliff High School', 'Apollo Middle', 'Glendale Elementary',
       'Glengarry Elementary', 'Glenview Elementary',
       'Goodlettsville Elementary', 'Goodlettsville Middle',
       'Gower Elementary', 'Granbery Elementary', 'H. G. Hill Middle',
       'East Nashville Middle', 'MNPS Virtual School',
       'Harpeth Valley Elementary', 'Haynes Middle', 'Haywood Elementary',
       'Head Middle', 'Henry C. Maxwell Elementary',
       'Hermitage Elementary', 'Hickman Elementary', 'Meigs Middle',
       'Hillsboro High', 'Moses McKissack Middle',
       'Hull-Jackson Elementary', 'Hume - Fogg High', 'Hunters Lane High',
       'Inglewood Elementary', 'Isaac Litton Middle',
       'J. E. Moss Elementary', 'James Lawson High School',
       'Jere Baxter Middle', 'Joelton Elementary', 'John Early Middle',
       'Jones Elementary', 'John B. Whitsitt Elementary',
       'John F. Kennedy Middle', 'John Overton High', 'Bellevue Middle',
       'Julia Green Elementary', 'Lakeview Elementary',
       'Lockeland Elementary', 'Early College High School',
       'Maplewood High', 'Bellshire Elementary', 'Margaret Allen Middle',
       'Martin Luther King Jr School', 'McGavock Elementary',
       'McGavock High', 'McMurray Middle', 'John Trotwood Moore Middle',
       'Mt. View Elementary', 'Alex Green Elementary',
       'Murrell at Glenn School', 'Napier Elementary',
       'Nashville School of the Arts', "Neely's Bend Elementary",
       'Norman Binkley Elementary', 'Nashville Big Picture High School',
       'Old Center Elementary', 'William Henry Oliver Middle',
       'Paragon Mills Elementary', 'Park Avenue Elementary',
       'Pearl-Cohn High', 'Pennington Elementary',
       'Percy Priest Elementary', 'Rose Park Middle',
       'Rosebank Elementary', 'Ruby Major Elementary',
       'May Werthan Shayne Elementary School', 'Shwab Elementary',
       'Stanford Elementary', 'Robert Churchwell Elementary',
       'Stratford STEM Magnet School', 'Madison Middle',
       'Stratton Elementary', 'Sylvan Park Elementary',
       'Thurgood Marshall Middle', 'Tom Joy Elementary',
       'Tulip Grove Elementary', 'Tusculum Elementary',
       'Two Rivers Middle', 'Una Elementary',
       'Carter-Lawrence Elementary', 'Warner Elementary',
       'West End Middle', 'Westmeade Elementary',
       'Isaiah T. Creswell Middle School of the Arts',
       'Whites Creek High', 'Wright Middle',
       'Johnson Alternative Learning Center',
       'Smith Springs Elementary School',
       'Waverly-Belmont Elementary School', 'Cane Ridge High School',
       'Ida B. Wells Elementary', 'Cane Ridge Elementary'], dtype=object)

## 2023-2024 Letter Grade Report

In [69]:
lettergrade_df = pd.read_excel('../data/2023-24_A-F_Letter_Grade_File (1).xlsx')

In [103]:
lettergrade_df

,year,system,system_name,school,school_name,lg_ineligible,school_pool,grade_band_3-5,grade_band_6-8,grade_band_9-12,...,ccr_asvab_rate,ccr_rate_ed,ccr_rate_el,ccr_rate_swd,ccr_rate_aian,ccr_rate_asian,ccr_rate_black,ccr_rate_hispanic,ccr_rate_nhpi,ccr_rate_white
0,2024,10,Anderson County,2,Anderson County High School,0,HS,N,N,Y,...,6.4,58.1,Insufficient N Count,47.4,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,73.8
1,2024,10,Anderson County,3,Anderson County Career Technical Center,1,K8,N,N,N,...,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School
2,2024,10,Anderson County,4,Anderson County Innovation Academy,1,K8,N,N,Y,...,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count
3,2024,10,Anderson County,5,Andersonville Elementary,0,K8,Y,N,N,...,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School
4,2024,10,Anderson County,10,Briceville Elementary,0,K8,Y,N,N,...,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1900,2024,987,Tennessee Public Charter School Commission,8070,Lester Prep,0,K8,N,Y,N,...,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School
1901,2024,987,Tennessee Public Charter School Commission,8090,LEAD Neely's Bend,0,K8,Y,Y,N,...,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School
1902,2024,987,Tennessee Public Charter School Commission,8095,Libertas,0,K8,Y,N,N,...,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School
1903,2024,987,Tennessee Public Charter School Commission,8115,Cornerstone Prep Denver Campus,0,K8,Y,N,N,...,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School
1904,2024,987,Tennessee Public Charter School Commission,8147,Tennessee Nature Academy,0,K8,Y,Y,N,...,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School

In [73]:
lettergrade_df['system_name'].unique()

array(['Anderson County', 'Clinton', 'Oak Ridge', 'Bedford County',
       'Benton County', 'Bledsoe County', 'Blount County', 'Alcoa',
       'Maryville', 'Bradley County', 'Cleveland', 'Campbell County',
       'Cannon County', 'Carroll County', 'Hollow Rock - Bruceton',
       'Huntingdon Special School District', 'McKenzie', 'South Carroll',
       'West Carroll Sp Dist', 'Carter County', 'Elizabethton',
       'Cheatham County', 'Chester County', 'Claiborne County',
       'Clay County', 'Cocke County', 'Newport', 'Coffee County',
       'Manchester', 'Tullahoma', 'Crockett County', 'Alamo', 'Bells',
       'Cumberland County', 'Metro Nashville Public Schools',
       'Decatur County', 'DeKalb County', 'Dickson County', 'Dyer County',
       'Dyersburg', 'Fayette County Public Schools', 'Fentress County',
       'Franklin County', 'Humboldt City Schools', 'Milan', 'Trenton',
       'Bradford', 'Gibson Co Sp Dist', 'Giles County', 'Grainger County',
       'Greene County', 'Greeneville', 'Grundy County', 'Hamblen County',
       'Hamilton County', 'Hancock County', 'Hardeman County Schools',
       'Hardin County', 'Hawkins County', 'Rogersville', 'Haywood County',
       'Henderson County', 'Lexington', 'Henry County', 'Paris',
       'Hickman County', 'Houston County', 'Humphreys County',
       'Jackson County', 'Jefferson County', 'Johnson County',
       'Knox County', 'Lake County', 'Lauderdale County',
       'Lawrence County', 'Lewis County', 'Lincoln County',
       'Fayetteville', 'Loudon County', 'Lenoir City', 'McMinn County',
       'Athens', 'Etowah', 'McNairy County', 'Macon County',
       'Madison County', 'Marion County', 'Richard City',
       'Marshall County', 'Maury County', 'Meigs County', 'Monroe County',
       'Sweetwater', 'Montgomery County', 'Moore County', 'Morgan County',
       'Obion County', 'Union City', 'Overton County', 'Perry County',
       'Pickett County', 'Polk County', 'Putnam County', 'Rhea County',
       'Dayton', 'Roane County', 'Robertson County', 'Rutherford County',
       'Murfreesboro', 'Scott County', 'Oneida', 'Sequatchie County',
       'Sevier County', 'Memphis-Shelby County Schools', 'Arlington',
       'Bartlett', 'Collierville', 'Germantown', 'Lakeland',
       'Millington Municipal Schools', 'Smith County', 'Stewart County',
       'Sullivan County', 'Bristol', 'Kingsport', 'Sumner County',
       'Tipton County', 'Trousdale County', 'Unicoi County',
       'Union County', 'Van Buren County', 'Warren County',
       'Washington County', 'Johnson City', 'Wayne County',
       'Weakley County', 'White County', 'Williamson County',
       'Franklin SSD', 'Wilson County', 'Lebanon',
       'West Tennessee School for the Deaf',
       'Alvin C. York Agricultural Institute',
       'Tennessee School for Blind', 'Tennessee Schools for the Deaf',
       "Department Of Children's Services Education Division",
       'Achievement School District',
       'Tennessee Public Charter School Commission'], dtype=object)

In [77]:
lettergrade_mnps_df = lettergrade_df[lettergrade_df['system_name'].str.lower() == 'metro nashville public schools']

In [79]:
lettergrade_mnps_df

,year,system,system_name,school,school_name,lg_ineligible,school_pool,grade_band_3-5,grade_band_6-8,grade_band_9-12,...,ccr_asvab_rate,ccr_rate_ed,ccr_rate_el,ccr_rate_swd,ccr_rate_aian,ccr_rate_asian,ccr_rate_black,ccr_rate_hispanic,ccr_rate_nhpi,ccr_rate_white
265,2024,190,Metro Nashville Public Schools,1,A. Z. Kelley Elementary,0,K8,Y,N,N,...,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School
266,2024,190,Metro Nashville Public Schools,3,MNPS Virtual School,0,HS,Y,Y,Y,...,<5%,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count
267,2024,190,Metro Nashville Public Schools,5,Alex Green Elementary,0,K8,Y,N,N,...,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School
268,2024,190,Metro Nashville Public Schools,10,Amqui Elementary,0,K8,Y,Y,N,...,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School
269,2024,190,Metro Nashville Public Schools,15,Andrew Jackson Elementary,0,K8,Y,N,N,...,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422,2024,190,Metro Nashville Public Schools,8085,KIPP Nashville College Prep Elementary,0,K8,Y,N,N,...,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School
423,2024,190,Metro Nashville Public Schools,8090,Strive Collegiate Academy,0,K8,N,Y,N,...,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School
424,2024,190,Metro Nashville Public Schools,8095,KIPP Kirkpatrick Elementary School,0,K8,Y,N,N,...,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School
425,2024,190,Metro Nashville Public Schools,8100,RePublic High School,0,HS,N,N,Y,...,<5%,25,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,30.2,39.4,Insufficient N Count,Insufficient N Count
426,2024,190,Metro Nashville Public Schools,8110,KA @ The Crossings,0,HS,Y,Y,Y,...,<5%,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count

In [81]:
lettergrade_mnps_df.reset_index(drop=True, inplace=True)

In [85]:
lettergrade_mnps_df.columns

Index(['year', 'system', 'system_name', 'school', 'school_name',
       'lg_ineligible', 'school_pool', 'grade_band_3-5', 'grade_band_6-8',
       'grade_band_9-12', 'ach_score', 'growth_score', 'growth25_score',
       'ccr_score', 'ach_grade', 'growth_grade', 'growth25_grade', 'ccr_grade',
       'ach_score_weighted', 'growth_score_weighted',
       'growth25_score_weighted', 'ccr_score_weighted', 'ach_weight',
       'growth_weight', 'growth25_weight', 'ccr_weight', 'lg_score',
       'lg_grade', 'overall_success_rate_all_students',
       'overall_success_rate_ed', 'overall_success_rate_el',
       'overall_success_rate_swd', 'overall_success_rate_aian',
       'overall_success_rate_asian', 'overall_success_rate_black',
       'overall_success_rate_hispanic', 'overall_success_rate_nhpi',
       'overall_success_rate_white', 'success_rate_g3-5_ela',
       'success_rate_g3-5_math', 'success_rate_g3-5_science',
       'success_rate_g6-8_ela', 'success_rate_g6-8_math',
       'success_rate_g6-8_science', 'success_rate_g6-8_social_studies',
       'success_rate_g9-12_ela', 'success_rate_g9-12_math',
       'success_rate_g9-12_science', 'success_rate_g9-12_social_studies',
       'growth_numeracy_score', 'growth_literacy_score',
       'growth_science_score', 'growth_social_studies_score',
       'growth_ela_math_score_bhn', 'growth_ela_math_score_ed',
       'growth_ela_math_score_el', 'growth_ela_math_score_swd',
       'growth_ela_math_score_aian', 'growth_ela_math_score_asian',
       'growth_ela_math_score_black', 'growth_ela_math_score_hispanic',
       'growth_ela_math_score_nhpi', 'growth_ela_math_score_white',
       'growth_ela_math_score_super_subgroup', 'ccr_rate', 'ccr_act_rate',
       'ccr_postsec_rate', 'ccr_ic_rate', 'ccr_asvab_rate', 'ccr_rate_ed',
       'ccr_rate_el', 'ccr_rate_swd', 'ccr_rate_aian', 'ccr_rate_asian',
       'ccr_rate_black', 'ccr_rate_hispanic', 'ccr_rate_nhpi',
       'ccr_rate_white'],
      dtype='object')

In [87]:
lettergrade_mnps_df.head()

,year,system,system_name,school,school_name,lg_ineligible,school_pool,grade_band_3-5,grade_band_6-8,grade_band_9-12,...,ccr_asvab_rate,ccr_rate_ed,ccr_rate_el,ccr_rate_swd,ccr_rate_aian,ccr_rate_asian,ccr_rate_black,ccr_rate_hispanic,ccr_rate_nhpi,ccr_rate_white
0,2024,190,Metro Nashville Public Schools,1,A. Z. Kelley Elementary,0,K8,Y,N,N,...,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School
1,2024,190,Metro Nashville Public Schools,3,MNPS Virtual School,0,HS,Y,Y,Y,...,<5%,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count,Insufficient N Count
2,2024,190,Metro Nashville Public Schools,5,Alex Green Elementary,0,K8,Y,N,N,...,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School
3,2024,190,Metro Nashville Public Schools,10,Amqui Elementary,0,K8,Y,Y,N,...,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School
4,2024,190,Metro Nashville Public Schools,15,Andrew Jackson Elementary,0,K8,Y,N,N,...,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School,Not a High School

In [89]:
lettergrade_mnps_df = lettergrade_mnps_df[['school', 'school_name', 'ach_grade']]

In [91]:
lettergrade_mnps_df

     school                             school_name ach_grade
0         1                 A. Z. Kelley Elementary         D
1         3                     MNPS Virtual School         D
2         5                   Alex Green Elementary         F
3        10                        Amqui Elementary         D
4        15               Andrew Jackson Elementary         B
..      ...                                     ...       ...
157    8085  KIPP Nashville College Prep Elementary         D
158    8090               Strive Collegiate Academy         D
159    8095      KIPP Kirkpatrick Elementary School         F
160    8100                    RePublic High School         D
161    8110                      KA @ The Crossings         F

[162 rows x 3 columns]

In [93]:
lettergrade_mnps_df.columns = ['school_number', 'school_name', 'letter_grade']

In [189]:
lettergrade_mnps_df['school_name'].nunique()

162

## ACT Reports

In [106]:
act_df = pd.read_excel('../data/2023-24_ACT_school_suppressed.xlsx')

In [109]:
act_df

,District,District Name,School,School Name,Subgroup,Valid Tests,Participation Rate,Average English Score,Average Math Score,Average Reading Score,Average Science Score,Average Composite Score,Number Scoring 21 or Higher,Percent Scoring 21 or Higher,Number Scoring Below 19,Percent Scoring Below 19
0,10,Anderson County,2,Anderson County High School,All Students,244,100,17.6,18.4,19.1,19,18.7,92,37.7,124,50.8
1,10,Anderson County,2,Anderson County High School,Black/Hispanic/Native American,14,100,17.9,19.6,19.6,19.8,19.5,7,50,5,35.7
2,10,Anderson County,2,Anderson County High School,Economically Disadvantaged,61,100,14.6,17,15.9,16.3,16.1,11,18,43,70.5
3,10,Anderson County,2,Anderson County High School,English Learners,3,*,*,*,*,*,*,*,*,*,*
4,10,Anderson County,2,Anderson County High School,Students with Disabilities,36,100,12.3,14.7,13.4,14.5,13.8,**,**,**,**
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1867,987,Tennessee Public Charter School Commission,8005,Bluff City High School,All Students,83,100,12.7,15,14.6,15.1,14.5,**,**,**,**
1868,987,Tennessee Public Charter School Commission,8005,Bluff City High School,Black/Hispanic/Native American,81,100,12.7,15,14.4,15,14.4,**,**,**,**
1869,987,Tennessee Public Charter School Commission,8005,Bluff City High School,Economically Disadvantaged,63,100,12.7,14.9,14.5,15,14.4,**,**,**,**
1870,987,Tennessee Public Charter School Commission,8005,Bluff City High School,English Learners,11,100,10.6,14.9,13.3,13.5,13.3,**,**,**,**
1871,987,Tennessee Public Charter School Commission,8005,Bluff City High School,Students with Disabilities,5,*,*,*,*,*,*,*,*,*,*

In [111]:
act_df['District Name'].unique()

array(['Anderson County', 'Oak Ridge', 'Bedford County', 'Benton County',
       'Bledsoe County', 'Blount County', 'Alcoa', 'Maryville',
       'Bradley County', 'Cleveland', 'Campbell County', 'Cannon County',
       'Hollow Rock - Bruceton', 'Huntingdon Special School District',
       'McKenzie', 'South Carroll', 'West Carroll Sp Dist',
       'Carter County', 'Elizabethton', 'Cheatham County',
       'Chester County', 'Claiborne County', 'Clay County',
       'Cocke County', 'Coffee County', 'Tullahoma', 'Crockett County',
       'Cumberland County', 'Davidson County', 'Decatur County',
       'DeKalb County', 'Dickson County', 'Dyer County', 'Dyersburg',
       'Fayette County Public Schools', 'Fentress County',
       'Franklin County', 'Humboldt City Schools', 'Milan', 'Trenton',
       'Bradford', 'Gibson Co Sp Dist', 'Giles County', 'Grainger County',
       'Greene County', 'Greeneville', 'Grundy County', 'Hamblen County',
       'Hamilton County', 'Hancock County', 'Hardeman County Schools',
       'Hardin County', 'Hawkins County', 'Haywood County',
       'Henderson County', 'Henry County', 'Hickman County',
       'Houston County', 'Humphreys County', 'Jackson County',
       'Jefferson County', 'Johnson County', 'Knox County', 'Lake County',
       'Lauderdale County', 'Lawrence County', 'Lewis County',
       'Lincoln County', 'Fayetteville', 'Loudon County', 'Lenoir City',
       'McMinn County', 'McNairy County', 'Macon County',
       'Madison County', 'Marion County', 'Richard City',
       'Marshall County', 'Maury County', 'Meigs County', 'Monroe County',
       'Montgomery County', 'Moore County', 'Morgan County',
       'Obion County', 'Union City', 'Overton County', 'Perry County',
       'Pickett County', 'Polk County', 'Putnam County', 'Rhea County',
       'Roane County', 'Robertson County', 'Rutherford County',
       'Scott County', 'Oneida', 'Sequatchie County', 'Sevier County',
       'Memphis-Shelby County Schools', 'Arlington', 'Bartlett',
       'Collierville', 'Germantown', 'Millington Municipal Schools',
       'Smith County', 'Stewart County', 'Sullivan County', 'Bristol',
       'Kingsport', 'Sumner County', 'Tipton County', 'Trousdale County',
       'Unicoi County', 'Union County', 'Van Buren County',
       'Warren County', 'Washington County', 'Johnson City',
       'Wayne County', 'Weakley County', 'White County',
       'Williamson County', 'Wilson County',
       'Alvin C. York Agricultural Institute',
       'Tennessee Schools for the Deaf',
       "Department Of Children's Services Education Division",
       'Achievement School District',
       'Tennessee Public Charter School Commission'], dtype=object)

In [113]:
act_mnps_df = act_df[act_df['District Name'].str.lower() == 'davidson county']

In [115]:
act_mnps_df

,District,District Name,School,School Name,Subgroup,Valid Tests,Participation Rate,Average English Score,Average Math Score,Average Reading Score,Average Science Score,Average Composite Score,Number Scoring 21 or Higher,Percent Scoring 21 or Higher,Number Scoring Below 19,Percent Scoring Below 19
238,190,Davidson County,3,MNPS Virtual School,All Students,34,100,19.9,17.7,19.7,18.8,19.2,12,35.3,18,52.9
239,190,Davidson County,3,MNPS Virtual School,Black/Hispanic/Native American,15,100,17.3,16.2,16.3,15.9,16.6,3,20,12,80
240,190,Davidson County,3,MNPS Virtual School,Economically Disadvantaged,9,*,*,*,*,*,*,*,*,*,*
241,190,Davidson County,3,MNPS Virtual School,English Learners,1,*,*,*,*,*,*,*,*,*,*
242,190,Davidson County,3,MNPS Virtual School,Students with Disabilities,3,*,*,*,*,*,*,*,*,*,*
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382,190,Davidson County,8110,KA @ The Crossings,All Students,47,98,14.4,15.6,15.1,15.9,15.3,4,8.5,40,85.1
383,190,Davidson County,8110,KA @ The Crossings,Black/Hispanic/Native American,41,98,13.8,15.3,14.5,15.5,14.9,**,**,**,**
384,190,Davidson County,8110,KA @ The Crossings,Economically Disadvantaged,21,95,13.2,15.2,14.5,15.6,14.8,**,**,**,**
385,190,Davidson County,8110,KA @ The Crossings,English Learners,18,95,12.1,14.5,12.4,15.1,13.6,**,**,**,**
386,190,Davidson County,8110,KA @ The Crossings,Students with Disabilities,11,92,11.5,14.3,12.8,13.7,13.3,**,**,**,**

In [117]:
act_mnps_df.drop('District', axis=1, inplace=True)

In [119]:
act_mnps_df.drop('District Name', axis=1, inplace=True)

In [123]:
act_mnps_df.reset_index(drop=True, inplace=True)

In [129]:
act_mnps_df.head()

,School,School Name,Subgroup,Valid Tests,Participation Rate,Average English Score,Average Math Score,Average Reading Score,Average Science Score,Average Composite Score,Number Scoring 21 or Higher,Percent Scoring 21 or Higher,Number Scoring Below 19,Percent Scoring Below 19
0,3,MNPS Virtual School,All Students,34,100,19.9,17.7,19.7,18.8,19.2,12,35.3,18,52.9
1,3,MNPS Virtual School,Black/Hispanic/Native American,15,100,17.3,16.2,16.3,15.9,16.6,3,20,12,80
2,3,MNPS Virtual School,Economically Disadvantaged,9,*,*,*,*,*,*,*,*,*,*
3,3,MNPS Virtual School,English Learners,1,*,*,*,*,*,*,*,*,*,*
4,3,MNPS Virtual School,Students with Disabilities,3,*,*,*,*,*,*,*,*,*,*

In [131]:
act_mnps_df.columns = ['school_number', 'school_name', 'act_subgroup', 'act_validtests', 'act_part_rate', 'act_avg_eng', 'act_avg_math', 'act_avg_reading', 'act_avg_sci', 'act_avg_comp', 'num_scoring_21orhigher', 'pct_scoring_21orhigher', 'num_scoring_below19', 'pct_scoring_below19']

In [133]:
act_mnps_df.head()

,school_number,school_name,act_subgroup,act_validtests,act_part_rate,act_avg_eng,act_avg_math,act_avg_reading,act_avg_sci,act_avg_comp,num_scoring_21orhigher,pct_scoring_21orhigher,num_scoring_below19,pct_scoring_below19
0,3,MNPS Virtual School,All Students,34,100,19.9,17.7,19.7,18.8,19.2,12,35.3,18,52.9
1,3,MNPS Virtual School,Black/Hispanic/Native American,15,100,17.3,16.2,16.3,15.9,16.6,3,20,12,80
2,3,MNPS Virtual School,Economically Disadvantaged,9,*,*,*,*,*,*,*,*,*,*
3,3,MNPS Virtual School,English Learners,1,*,*,*,*,*,*,*,*,*,*
4,3,MNPS Virtual School,Students with Disabilities,3,*,*,*,*,*,*,*,*,*,*

In [191]:
act_mnps_df['school_name'].nunique()

31

## Creating Separate ACT DF that shows data by school for ALL students, instead of by subgroup; then dropping the act_subgroup column

In [135]:
act_mnps_byschool_allstudents = act_mnps_df[act_mnps_df['act_subgroup'].str.lower() == 'all students']

In [139]:
act_mnps_byschool_allstudents.reset_index(drop=True, inplace=True)

In [143]:
act_mnps_byschool_allstudents.drop('act_subgroup', axis=1, inplace=True)

In [193]:
act_mnps_byschool_allstudents['school_name'].nunique()

31

## Graduation Rate

In [147]:
gradrate_df = pd.read_excel('../data/2023-24_school_grad_rate_suppressed.xlsx')

In [153]:
mnps_gradrate_df = gradrate_df[gradrate_df['system_name']=='Davidson County']

In [155]:
mnps_gradrate_df

,graduation_year,system,system_name,school,school_name,student_group,grad_cohort_state,grad_count_state,grad_rate_state,grad_cohort_federal,grad_count_federal,grad_rate_federal
1042,2024,190,Davidson County,3,MNPS Virtual School,All Students,35,**,**,35,**,**
1043,2024,190,Davidson County,3,MNPS Virtual School,American Indian or Alaska Native,1,*,*,1,*,*
1044,2024,190,Davidson County,3,MNPS Virtual School,Asian,1,*,*,1,*,*
1045,2024,190,Davidson County,3,MNPS Virtual School,Black or African American,13,**,**,13,**,**
1046,2024,190,Davidson County,3,MNPS Virtual School,Black/Hispanic/Native American,16,**,**,16,**,**
...,...,...,...,...,...,...,...,...,...,...,...,...
1686,2024,190,Davidson County,8110,KA @ The Crossings,Non-Homeless,47,46,97.9,47,45,95.7
1687,2024,190,Davidson County,8110,KA @ The Crossings,Non-Migrant,49,48,98,49,47,95.9
1688,2024,190,Davidson County,8110,KA @ The Crossings,Non-Students with Disabilities,37,36,97.3,37,36,97.3
1689,2024,190,Davidson County,8110,KA @ The Crossings,Students with Disabilities,12,**,**,12,11,91.7
1690,2024,190,Davidson County,8110,KA @ The Crossings,White,5,*,*,5,*,*

## Create filtered df to show only 'all students', then drop columns

In [157]:
gradrate_mnps_byschool_allstudents = mnps_gradrate_df[mnps_gradrate_df['student_group'].str.lower() == 'all students']

In [163]:
gradrate_mnps_byschool_allstudents.head()

,system,system_name,school,school_name,student_group,grad_cohort_state,grad_count_state,grad_rate_state,grad_cohort_federal,grad_count_federal,grad_rate_federal
1042,190,Davidson County,3,MNPS Virtual School,All Students,35,**,**,35,**,**
1060,190,Davidson County,20,Antioch High School,All Students,558,444,79.6,558,425,76.2
1081,190,Davidson County,53,Nashville Big Picture High School,All Students,35,**,**,35,**,**
1095,190,Davidson County,77,Cane Ridge High School,All Students,483,385,79.7,483,377,78.1
1116,190,Davidson County,203,East Nashville Magnet High School,All Students,127,121,95.3,127,121,95.3

In [161]:
gradrate_mnps_byschool_allstudents.drop('graduation_year', axis=1, inplace=True)

In [165]:
gradrate_mnps_byschool_allstudents.drop('system', axis=1, inplace=True)

In [167]:
gradrate_mnps_byschool_allstudents.drop('system_name', axis=1, inplace=True)

In [169]:
gradrate_mnps_byschool_allstudents.drop('student_group', axis=1, inplace=True)

In [174]:
gradrate_mnps_byschool_allstudents.reset_index(drop=True, inplace=True)

In [178]:
gradrate_mnps_byschool_allstudents.head(1)

,school,school_name,grad_cohort_state,grad_count_state,grad_rate_state,grad_cohort_federal,grad_count_federal,grad_rate_federal
0,3,MNPS Virtual School,35,**,**,35,**,**

In [180]:
gradrate_mnps_byschool_allstudents.columns = ['school_number', 'school_name', 'hs_grad_cohort_state', 'hs_grad_count_state', 'hs_grad_rate_state', 'hs_grad_cohort_federal', 'hs_grad_count_federal', 'hs_grad_rate_federal']

In [182]:
gradrate_mnps_byschool_allstudents.head(1)

,school_number,school_name,hs_grad_cohort_state,hs_grad_count_state,hs_grad_rate_state,hs_grad_cohort_federal,hs_grad_count_federal,hs_grad_rate_federal
0,3,MNPS Virtual School,35,**,**,35,**,**

In [195]:
gradrate_mnps_byschool_allstudents['school_name'].nunique()

35

## Lists (School Type)

In [289]:
elementary_schools = [
    'A. Z. Kelley Elementary',
    'Amqui Elementary',
    'Chadwell Elementary',
    'Charlotte Park Elementary',
    'Eagle View Elementary School',
    'Cockrill Elementary',
    'Cole Elementary',
    'Hattie Cotton Elementary',
    'Crieve Hall Elementary',
    'Andrew Jackson Elementary',
    'Cumberland Elementary',
    'Dan Mills Elementary',
    'Dodson Elementary',
    'DuPont Elementary',
    'Eakin Elementary',
    'Thomas A. Edison Elementary',
    'Fall-Hamilton Elementary',
    'Gateway Elementary',
    'Glencliff Elementary',
    'Glendale Elementary',
    'Glengarry Elementary',
    'Glenview Elementary',
    'Goodlettsville Elementary',
    'Gower Elementary',
    'Granbery Elementary',
    'Harpeth Valley Elementary',
    'Haywood Elementary',
    'Henry C. Maxwell Elementary',
    'Hermitage Elementary',
    'Hickman Elementary',
    'Hull-Jackson Elementary',
    'Inglewood Elementary',
    'J. E. Moss Elementary',
    'Joelton Elementary',
    'Jones Elementary',
    'John B. Whitsitt Elementary',
    'Julia Green Elementary',
    'Lakeview Elementary',
    'Lockeland Elementary',
    'Bellshire Elementary',
    'McGavock Elementary',
    'Mt. View Elementary',
    'Alex Green Elementary',
    'Napier Elementary',
    'Neely\'s Bend Elementary',
    'Norman Binkley Elementary',
    'Old Center Elementary',
    'Paragon Mills Elementary',
    'Park Avenue Elementary',
    'Pennington Elementary',
    'Percy Priest Elementary',
    'Rosebank Elementary',
    'Ruby Major Elementary',
    'May Werthan Shayne Elementary School',
    'Shwab Elementary',
    'Stanford Elementary',
    'Robert Churchwell Elementary',
    'Stratton Elementary',
    'Sylvan Park Elementary',
    'Tom Joy Elementary',
    'Tulip Grove Elementary',
    'Tusculum Elementary',
    'Una Elementary',
    'Carter-Lawrence Elementary',
    'Warner Elementary',
    'Westmeade Elementary',
    'Smith Springs Elementary School',
    'Waverly-Belmont Elementary School',
    'Ida B. Wells Elementary',
    'Cane Ridge Elementary'
]

In [249]:
charter_schools = [
    'Cameron College Prep'
    'Smithson Craighead Academy',
    'KIPP Academy Nashville', 
    'LEAD Academy',
    'Liberty Collegiate Academy', 
    'STEM Prep Academy',
    'Nashville Prep', 
    'East End Preparatory School', 'LEAD Cameron',
    'KIPP Nashville Collegiate High School', 
    'LEAD Southeast',
    'KIPP Nashville College Prep', 
    'Nashville Classical East',
    'Nashville Classical West', 
    'Aventura Community School'
    'Valor Flagship Academy', 
    'Purpose Prep',
    'Intrepid College Preparatory Charter School',
    'Rocketship Nashville Northeast Elementary',
    'Explore Community School', 
    'Rocketship United',
    'STEM Prep High School', 
    'Valor Voyager Academy',
    'KIPP Nashville College Prep Elementary',
    'Strive Collegiate Academy',
    'KIPP Academy Nashville Elementary School', 
    'Knowledge Academies HS',
    'RePublic High School',
    'KA @ The Crossings (8110)'
    'KIPP Academy Nashville Elementary School' 
    'Purpose Prep', 
    'Smithson Craighead Academy',
    'Valor Flagship Academy',
    'KA @ The Crossings (8110)', 
    'KA @ The Crossings',
    'KA at The Crossings', 
    'Knowledge Academies at The Crossings'
]

In [225]:
middle_schools = [
    'Croft Middle',
    'Donelson Middle',
    'DuPont Tyler Middle',
    'DuPont Hadley Middle',
    'Antioch Middle',
    'Apollo Middle',
    'Goodlettsville Middle',
    'H. G. Hill Middle',
    'East Nashville Middle',
    'Haynes Middle',
    'Head Middle',
    'Isaac Litton Middle',
    'Jere Baxter Middle',
    'John Early Middle',
    'John F. Kennedy Middle',
    'Bellevue Middle',
    'Margaret Allen Middle',
    'McMurray Middle',
    'John Trotwood Moore Middle',
    'Madison Middle',
    'Rose Park Middle',
    'Thurgood Marshall Middle',
    'Two Rivers Middle',
    'West End Middle',
    'Wright Middle',
    'Isaiah T. Creswell Middle School of the Arts'
]

In [227]:
high_schools = [
    'Antioch High School',
    'East Nashville Magnet High School',
    'Glencliff High School',
    'Hillsboro High',
    'Hume - Fogg High',
    'Hunters Lane High',
    'James Lawson High School',
    'John Overton High',
    'Early College High School',
    'Maplewood High',
    'McGavock High',
    'Martin Luther King Jr School',
    'Nashville School of the Arts',
    'Nashville Big Picture High School',
    'Pearl-Cohn High',
    'Stratford STEM Magnet School',
    'Whites Creek High',
    'Cane Ridge High School',
]

In [263]:
exceptional_ed = [
    'Cora Howe', 
    'Murrell at Glenn School', 
    'Harris-Hillman Special Education'
]

In [302]:
alt = [
    'MNPS Virtual School',
    'W.A. Bass Alternative Learning Center',
    'Johnson Alternative Learning Center', 
    'MNPS Virtual School'
]

In [233]:
specialty = [
    'Nashville Big Picture HS', 
    'Nashville Big Picture High School', 
    'Nashville Big Picture', 
    'The Academy at Hickory Hollow', 
    'The Academy at Old Cockrill', 
    'The Academy at Opry Mills'
]

## Trying to MERGE all DF on school_number and school_name

In [241]:
# Step 1: Merge the first two DF
merged_df = pd.merge(
    tvaas_mnps_df,
    lettergrade_mnps_df,
    on=['school_number', 'school_name'],
    how='outer',
    indicator='merge_step1'
)

In [243]:
merged_df

,school_number,school_name,tvaas_overall_comp,tvaas_lit_comp,tvaas_num_comp,tvaas_litandnum_comp,tvaas_sci_comp,tvaas_ss_comp,letter_grade,merge_step1
0,1,A. Z. Kelley Elementary,5.0,5.0,5.0,5.0,NaN,NaN,D,both
1,3,MNPS Virtual School,2.0,4.0,1.0,3.0,3.0,1.0,D,both
2,5,Alex Green Elementary,3.0,3.0,4.0,3.0,2.0,NaN,F,both
3,10,Amqui Elementary,4.0,5.0,3.0,5.0,3.0,3.0,D,both
4,15,Andrew Jackson Elementary,3.0,1.0,5.0,3.0,3.0,NaN,B,both
...,...,...,...,...,...,...,...,...,...,...
161,8095,KIPP Academy Nashville Elementary School,3.0,3.0,3.0,3.0,NaN,NaN,NaN,left_only
162,8095,KIPP Kirkpatrick Elementary School,NaN,NaN,NaN,NaN,NaN,NaN,F,right_only
163,8100,RePublic High School,5.0,5.0,5.0,5.0,4.0,4.0,D,both
164,8110,KA @ The Crossings,NaN,NaN,NaN,NaN,NaN,NaN,F,right_only
165,8110,KA @ The Crossings (8110),3.0,5.0,3.0,5.0,3.0,3.0,NaN,left_only

In [245]:
# Step 2: Merge with ACT data
merged_df = pd.merge(
    merged_df,
    act_mnps_byschool_allstudents,
    on=['school_number', 'school_name'],
    how='outer',
    indicator='merge_step2'  
)

In [247]:
merged_df

,school_number,school_name,tvaas_overall_comp,tvaas_lit_comp,tvaas_num_comp,tvaas_litandnum_comp,tvaas_sci_comp,tvaas_ss_comp,letter_grade,merge_step1,...,act_avg_eng,act_avg_math,act_avg_reading,act_avg_sci,act_avg_comp,num_scoring_21orhigher,pct_scoring_21orhigher,num_scoring_below19,pct_scoring_below19,merge_step2
0,1,A. Z. Kelley Elementary,5.0,5.0,5.0,5.0,NaN,NaN,D,both,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,3,MNPS Virtual School,2.0,4.0,1.0,3.0,3.0,1.0,D,both,...,19.9,17.7,19.7,18.8,19.2,12,35.3,18,52.9,both
2,5,Alex Green Elementary,3.0,3.0,4.0,3.0,2.0,NaN,F,both,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,10,Amqui Elementary,4.0,5.0,3.0,5.0,3.0,3.0,D,both,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,15,Andrew Jackson Elementary,3.0,1.0,5.0,3.0,3.0,NaN,B,both,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,8095,KIPP Academy Nashville Elementary School,3.0,3.0,3.0,3.0,NaN,NaN,NaN,left_only,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
163,8095,KIPP Kirkpatrick Elementary School,NaN,NaN,NaN,NaN,NaN,NaN,F,right_only,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
164,8100,RePublic High School,5.0,5.0,5.0,5.0,4.0,4.0,D,both,...,15.1,17,17.5,17.8,17,19,17.9,70,66,both
165,8110,KA @ The Crossings,NaN,NaN,NaN,NaN,NaN,NaN,F,right_only,...,14.4,15.6,15.1,15.9,15.3,4,8.5,40,85.1,both
166,8110,KA @ The Crossings (8110),3.0,5.0,3.0,5.0,3.0,3.0,NaN,left_only,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [252]:
# Step 3: Merge with grad rate data
merged_df = pd.merge(
    merged_df,
    gradrate_mnps_byschool_allstudents,
    on=['school_number', 'school_name'],
    how='outer',
    indicator=False  
)

In [254]:
merged_df

,school_number,school_name,tvaas_overall_comp,tvaas_lit_comp,tvaas_num_comp,tvaas_litandnum_comp,tvaas_sci_comp,tvaas_ss_comp,letter_grade,merge_step1,...,pct_scoring_21orhigher,num_scoring_below19,pct_scoring_below19,merge_step2,hs_grad_cohort_state,hs_grad_count_state,hs_grad_rate_state,hs_grad_cohort_federal,hs_grad_count_federal,hs_grad_rate_federal
0,1,A. Z. Kelley Elementary,5.0,5.0,5.0,5.0,NaN,NaN,D,both,...,NaN,NaN,NaN,left_only,NaN,NaN,NaN,NaN,NaN,NaN
1,3,MNPS Virtual School,2.0,4.0,1.0,3.0,3.0,1.0,D,both,...,35.3,18,52.9,both,35.0,**,**,35.0,**,**
2,5,Alex Green Elementary,3.0,3.0,4.0,3.0,2.0,NaN,F,both,...,NaN,NaN,NaN,left_only,NaN,NaN,NaN,NaN,NaN,NaN
3,10,Amqui Elementary,4.0,5.0,3.0,5.0,3.0,3.0,D,both,...,NaN,NaN,NaN,left_only,NaN,NaN,NaN,NaN,NaN,NaN
4,15,Andrew Jackson Elementary,3.0,1.0,5.0,3.0,3.0,NaN,B,both,...,NaN,NaN,NaN,left_only,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,8095,KIPP Academy Nashville Elementary School,3.0,3.0,3.0,3.0,NaN,NaN,NaN,left_only,...,NaN,NaN,NaN,left_only,NaN,NaN,NaN,NaN,NaN,NaN
164,8095,KIPP Kirkpatrick Elementary School,NaN,NaN,NaN,NaN,NaN,NaN,F,right_only,...,NaN,NaN,NaN,left_only,NaN,NaN,NaN,NaN,NaN,NaN
165,8100,RePublic High School,5.0,5.0,5.0,5.0,4.0,4.0,D,both,...,17.9,70,66,both,127.0,110,86.6,127.0,110,86.6
166,8110,KA @ The Crossings,NaN,NaN,NaN,NaN,NaN,NaN,F,right_only,...,8.5,40,85.1,both,49.0,48,98,49.0,47,95.9
167,8110,KA @ The Crossings (8110),3.0,5.0,3.0,5.0,3.0,3.0,NaN,left_only,...,NaN,NaN,NaN,left_only,NaN,NaN,NaN,NaN,NaN,NaN

## Getting rid of Charter Schools

In [281]:
merged_df_nocharters = merged_df[~merged_df['school_name'].isin(charter_schools)]

In [283]:
merged_df_nocharters['school_name'].unique()

array(['A. Z. Kelley Elementary', 'MNPS Virtual School',
       'Alex Green Elementary', 'Amqui Elementary',
       'Andrew Jackson Elementary', 'Antioch High School',
       'Antioch Middle', 'Apollo Middle', 'Moses McKissack Middle',
       'Bellevue Middle', 'Bellshire Elementary',
       'Nashville Big Picture High School', 'Cane Ridge High School',
       'Ida B. Wells Elementary', 'Cane Ridge Elementary',
       'Chadwell Elementary', 'Charlotte Park Elementary',
       'Eagle View Elementary School', 'Cockrill Elementary',
       'W. A. Bass Adult Program',
       'W.A. Bass Alternative Learning Center', 'Cole Elementary',
       'Hattie Cotton Elementary', 'Crieve Hall Elementary',
       'Croft Middle', 'Cumberland Elementary', 'Dan Mills Elementary',
       'Dodson Elementary', 'Donelson Middle', 'DuPont Elementary',
       'DuPont Tyler Middle', 'DuPont Hadley Middle', 'Eakin Elementary',
       'East Nashville Magnet High School', 'Thomas A. Edison Elementary',
       'Fall-Hamilton Elementary', 'Gateway Elementary',
       'Glencliff Elementary', 'Glencliff High School',
       'Glendale Elementary', 'Glengarry Elementary',
       'Glenview Elementary', 'Goodlettsville Elementary',
       'Goodlettsville Middle', 'Gower Elementary', 'Granbery Elementary',
       'H. G. Hill Middle', 'East Nashville Middle',
       'Harpeth Valley Elementary', 'Harris-Hillman Special Education',
       'Haynes Middle', 'Haywood Elementary', 'Head Middle',
       'Henry C. Maxwell Elementary', 'Hermitage Elementary',
       'Hickman Elementary', 'Meigs Middle', 'Hillsboro High',
       'Hillwood High', 'Hull-Jackson Elementary', 'Hume - Fogg High',
       'Hunters Lane High', 'Inglewood Elementary', 'Isaac Litton Middle',
       'J. E. Moss Elementary', 'James Lawson High School',
       'Jere Baxter Middle', 'Joelton Elementary', 'John Early Middle',
       'Jones Elementary', 'John B. Whitsitt Elementary',
       'John F. Kennedy Middle', 'John Overton High',
       'Julia Green Elementary', 'Lakeview Elementary',
       'Lockeland Elementary', 'Early College High School',
       'Cora Howe School', 'Maplewood High', 'Margaret Allen Middle',
       'Martin Luther King Jr School', 'McGavock Elementary',
       'McGavock High', 'McMurray Middle', 'John Trotwood Moore Middle',
       'Mt. View Elementary', 'Murrell at Glenn School',
       'Napier Elementary', 'Nashville School Of The Arts',
       'Nashville School of the Arts', "Neely's Bend Elementary",
       'Norman Binkley Elementary', 'Old Center Elementary',
       'William Henry Oliver Middle', 'Paragon Mills Elementary',
       'Park Avenue Elementary', 'Pearl-Cohn High',
       'Pennington Elementary', 'Percy Priest Elementary',
       'Rose Park Middle', 'Rosebank Elementary', 'Ruby Major Elementary',
       'May Werthan Shayne Elementary School', 'Shwab Elementary',
       'The Academy at Opry Mills', 'The Academy at Old Cockrill',
       'Stanford Elementary', 'Robert Churchwell Elementary',
       'Stratford STEM Magnet School', 'Madison Middle',
       'Stratton Elementary', 'Sylvan Park Elementary',
       'Thurgood Marshall Middle', 'Tom Joy Elementary',
       'Tulip Grove Elementary', 'Tusculum Elementary',
       'Two Rivers Middle', 'Una Elementary',
       'Carter-Lawrence Elementary', 'Warner Elementary',
       'West End Middle', 'Westmeade Elementary',
       'Isaiah T. Creswell Middle School of the Arts',
       'Whites Creek High', 'Wright Middle',
       'The Academy at Hickory Hollow', 'Transitions at Bass',
       'Johnson Alternative Learning Center',
       'Smith Springs Elementary School',
       'Waverly-Belmont Elementary School', "Martha O' Bryan Center",
       'Susan Gray School', 'Wayne Reed Child Care Center',
       'Cambridge Early Learning Center',
       'Ivanetta H. Davis Learning Center at Bordeaux',
       'Ross Early Learning Center', 'Casa Azafran Early Learning Center',
       'Lead Academy', 'Aventura Community School',
       'Knowledge Academies High School',
       'KIPP Kirkpatrick Elementary School'], dtype=object)

In [273]:
drop = [
    'Martha O\' Bryan Center',
    'Susan Gray School', 
    'Wayne Reed Child Care Center',
    'Cambridge Early Learning Center',
    'Ivanetta H. Davis Learning Center at Bordeaux',
    'Ross Early Learning Center', 
    'Casa Azafran Early Learning Center',
    'Lead Academy', 
    'Aventura Community School',
    'Knowledge Academies High School',
    'KIPP Kirkpatrick Elementary School',
    'The Academy at Hickory Hollow', 
    'Transitions at Bass',
    'Johnson Alternative Learning Center'
]

In [285]:
merged_df_update = merged_df_nocharters[~merged_df_nocharters['school_name'].isin(drop)]

In [287]:
merged_df_update['school_name'].unique()

array(['A. Z. Kelley Elementary', 'MNPS Virtual School',
       'Alex Green Elementary', 'Amqui Elementary',
       'Andrew Jackson Elementary', 'Antioch High School',
       'Antioch Middle', 'Apollo Middle', 'Moses McKissack Middle',
       'Bellevue Middle', 'Bellshire Elementary',
       'Nashville Big Picture High School', 'Cane Ridge High School',
       'Ida B. Wells Elementary', 'Cane Ridge Elementary',
       'Chadwell Elementary', 'Charlotte Park Elementary',
       'Eagle View Elementary School', 'Cockrill Elementary',
       'W. A. Bass Adult Program',
       'W.A. Bass Alternative Learning Center', 'Cole Elementary',
       'Hattie Cotton Elementary', 'Crieve Hall Elementary',
       'Croft Middle', 'Cumberland Elementary', 'Dan Mills Elementary',
       'Dodson Elementary', 'Donelson Middle', 'DuPont Elementary',
       'DuPont Tyler Middle', 'DuPont Hadley Middle', 'Eakin Elementary',
       'East Nashville Magnet High School', 'Thomas A. Edison Elementary',
       'Fall-Hamilton Elementary', 'Gateway Elementary',
       'Glencliff Elementary', 'Glencliff High School',
       'Glendale Elementary', 'Glengarry Elementary',
       'Glenview Elementary', 'Goodlettsville Elementary',
       'Goodlettsville Middle', 'Gower Elementary', 'Granbery Elementary',
       'H. G. Hill Middle', 'East Nashville Middle',
       'Harpeth Valley Elementary', 'Harris-Hillman Special Education',
       'Haynes Middle', 'Haywood Elementary', 'Head Middle',
       'Henry C. Maxwell Elementary', 'Hermitage Elementary',
       'Hickman Elementary', 'Meigs Middle', 'Hillsboro High',
       'Hillwood High', 'Hull-Jackson Elementary', 'Hume - Fogg High',
       'Hunters Lane High', 'Inglewood Elementary', 'Isaac Litton Middle',
       'J. E. Moss Elementary', 'James Lawson High School',
       'Jere Baxter Middle', 'Joelton Elementary', 'John Early Middle',
       'Jones Elementary', 'John B. Whitsitt Elementary',
       'John F. Kennedy Middle', 'John Overton High',
       'Julia Green Elementary', 'Lakeview Elementary',
       'Lockeland Elementary', 'Early College High School',
       'Cora Howe School', 'Maplewood High', 'Margaret Allen Middle',
       'Martin Luther King Jr School', 'McGavock Elementary',
       'McGavock High', 'McMurray Middle', 'John Trotwood Moore Middle',
       'Mt. View Elementary', 'Murrell at Glenn School',
       'Napier Elementary', 'Nashville School Of The Arts',
       'Nashville School of the Arts', "Neely's Bend Elementary",
       'Norman Binkley Elementary', 'Old Center Elementary',
       'William Henry Oliver Middle', 'Paragon Mills Elementary',
       'Park Avenue Elementary', 'Pearl-Cohn High',
       'Pennington Elementary', 'Percy Priest Elementary',
       'Rose Park Middle', 'Rosebank Elementary', 'Ruby Major Elementary',
       'May Werthan Shayne Elementary School', 'Shwab Elementary',
       'The Academy at Opry Mills', 'The Academy at Old Cockrill',
       'Stanford Elementary', 'Robert Churchwell Elementary',
       'Stratford STEM Magnet School', 'Madison Middle',
       'Stratton Elementary', 'Sylvan Park Elementary',
       'Thurgood Marshall Middle', 'Tom Joy Elementary',
       'Tulip Grove Elementary', 'Tusculum Elementary',
       'Two Rivers Middle', 'Una Elementary',
       'Carter-Lawrence Elementary', 'Warner Elementary',
       'West End Middle', 'Westmeade Elementary',
       'Isaiah T. Creswell Middle School of the Arts',
       'Whites Creek High', 'Wright Middle',
       'Smith Springs Elementary School',
       'Waverly-Belmont Elementary School'], dtype=object)

## Adding a Column called school_type to sort into elementary, middle, high school

In [318]:
elementary_schools = [s.lower() for s in elementary_schools]
middle_schools = [s.lower() for s in middle_schools]
high_schools = [s.lower() for s in high_schools]

def label_school_type(school_name):
    name = school_name.lower()
    if name in elementary_schools:
        return 'elementary'
    elif name in middle_schools:
        return 'middle'
    elif name in high_schools:
        return 'hs'
    elif name in specialty: 
        return 'specialty'
    elif name in alt: 
        return 'alt'
    elif name in exceptional_ed:
        return 'ex_ed'
    else:
        return 'unknown'


merged_df_update['school_type'] = merged_df_update['school_name'].apply(label_school_type)

In [320]:
merged_df_update.reset_index(drop=True, inplace=True)

In [322]:
merged_df_update

,school_number,school_name,tvaas_overall_comp,tvaas_lit_comp,tvaas_num_comp,tvaas_litandnum_comp,tvaas_sci_comp,tvaas_ss_comp,letter_grade,merge_step1,...,pct_scoring_below19,merge_step2,hs_grad_cohort_state,hs_grad_count_state,hs_grad_rate_state,hs_grad_cohort_federal,hs_grad_count_federal,hs_grad_rate_federal,school type,school_type
0,1,A. Z. Kelley Elementary,5.0,5.0,5.0,5.0,NaN,NaN,D,both,...,NaN,left_only,NaN,NaN,NaN,NaN,NaN,NaN,elementary,elementary
1,3,MNPS Virtual School,2.0,4.0,1.0,3.0,3.0,1.0,D,both,...,52.9,both,35.0,**,**,35.0,**,**,unknown,unknown
2,5,Alex Green Elementary,3.0,3.0,4.0,3.0,2.0,NaN,F,both,...,NaN,left_only,NaN,NaN,NaN,NaN,NaN,NaN,elementary,elementary
3,10,Amqui Elementary,4.0,5.0,3.0,5.0,3.0,3.0,D,both,...,NaN,left_only,NaN,NaN,NaN,NaN,NaN,NaN,elementary,elementary
4,15,Andrew Jackson Elementary,3.0,1.0,5.0,3.0,3.0,NaN,B,both,...,NaN,left_only,NaN,NaN,NaN,NaN,NaN,NaN,elementary,elementary
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,700,Isaiah T. Creswell Middle School of the Arts,4.0,3.0,3.0,3.0,3.0,5.0,D,both,...,NaN,left_only,NaN,NaN,NaN,NaN,NaN,NaN,middle,middle
123,704,Whites Creek High,5.0,5.0,3.0,5.0,5.0,3.0,F,both,...,**,both,151.0,123,81.5,151.0,123,81.5,hs,hs
124,715,Wright Middle,2.0,3.0,3.0,2.0,2.0,4.0,F,both,...,NaN,left_only,NaN,NaN,NaN,NaN,NaN,NaN,middle,middle
125,750,Smith Springs Elementary School,4.0,3.0,5.0,4.0,NaN,NaN,D,both,...,NaN,left_only,NaN,NaN,NaN,NaN,NaN,NaN,elementary,elementary
126,755,Waverly-Belmont Elementary School,3.0,2.0,4.0,3.0,4.0,NaN,A,both,...,NaN,left_only,NaN,NaN,NaN,NaN,NaN,NaN,elementary,elementary

In [324]:
merged_df_update['school_type'].value_counts()

school_type
elementary    70
middle        26
hs            19
unknown       12
Name: count, dtype: int64

In [328]:
unknown_schools = merged_df_update[merged_df_update['school_type'] == 'unknown']
print(unknown_schools)

     school_number                            school_name  tvaas_overall_comp  \
1                3                    MNPS Virtual School                 2.0
8               35                 Moses McKissack Middle                 4.0
19             125               W. A. Bass Adult Program                 NaN
20             126  W.A. Bass Alternative Learning Center                 3.0
49             302       Harris-Hillman Special Education                 NaN
56             330                           Meigs Middle                 5.0
58             340                          Hillwood High                 NaN
77             443                       Cora Howe School                 NaN
86             505                Murrell at Glenn School                 4.0
93             538            William Henry Oliver Middle                 2.0
104            612              The Academy at Opry Mills                 NaN
105            614            The Academy at Old Cockrill                 NaN

     tvaas_lit_comp  tvaas_num_comp  tvaas_litandnum_comp  tvaas_sci_comp  \
1               4.0             1.0                   3.0             3.0
8               3.0             4.0                   4.0             3.0
19              NaN             NaN                   NaN             NaN
20              3.0             2.0                   2.0             3.0
49              NaN             NaN                   NaN             NaN
56              5.0             5.0                   5.0             1.0
58              NaN             NaN                   NaN             NaN
77              NaN             NaN                   NaN             NaN
86              3.0             4.0                   4.0             NaN
93              4.0             3.0                   4.0             1.0
104             NaN             NaN                   NaN             NaN
105             NaN             NaN                   NaN             NaN

     tvaas_ss_comp          letter_grade merge_step1  ...  \
1              1.0                     D        both  ...
8              3.0                     F        both  ...
19             NaN  Insufficient N Count  right_only  ...
20             3.0                     F        both  ...
49             NaN  Insufficient N Count  right_only  ...
56             2.0                     A        both  ...
58             NaN                   NaN         NaN  ...
77             NaN  Insufficient N Count  right_only  ...
86             NaN  Insufficient N Count        both  ...
93             3.0                     C        both  ...
104            NaN  Insufficient N Count  right_only  ...
105            NaN  Insufficient N Count  right_only  ...

     pct_scoring_below19 merge_step2 hs_grad_cohort_state hs_grad_count_state  \
1                   52.9        both                 35.0                  **
8                    NaN   left_only                  NaN                 NaN
19                   NaN   left_only                  NaN                 NaN
20                   NaN   left_only                  NaN                 NaN
49                   NaN   left_only                  4.0                   *
56                   NaN   left_only                  NaN                 NaN
58                     *  right_only                 27.0                   4
77                   NaN   left_only                  8.0                   *
86                   NaN   left_only                  NaN                 NaN
93                   NaN   left_only                  NaN                 NaN
104                 91.1        both                 47.0                  46
105                 94.2        both                 54.0                  52

    hs_grad_rate_state hs_grad_cohort_federal hs_grad_count_federal  \
1                   **                   35.0                    **
8                  NaN                    NaN                   NaN
19                 NaN                    NaN                   NaN
20                 NaN                    NaN                   NaN
49                   *                    4.0                     *
56                 NaN                    NaN                   NaN
58                14.8                   27.0                     4
77                   *                    8.0                     *
86                 NaN                    NaN                   NaN
93                 NaN                    NaN                   NaN
104               97.9                   47.0                    43
105               96.3                   54.0                    52

    hs_grad_rate_federal school type school_type
1                     **     unknown     unknown
8                    NaN     unknown     unknown
19                   NaN     unknown     unknown
20                   NaN     unknown     unknown
49                     *     unknown     unknown
56                   NaN     unknown     unknown
58                  14.8     unknown     unknown
77                     *     unknown     unknown
86                   NaN     unknown     unknown
93                   NaN     unknown     unknown
104                 91.5     unknown     unknown
105                 96.3     unknown     unknown

[12 rows x 30 columns]